table {

    color: #0f0f0f;
    font-family: arial, sans-serif;
    background-color: rgb(248, 244, 244);
  }
  
  td, th {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: grey;
  }
  .dropdown-menu {
    height: 300px;
    overflow-y: scroll;
    border: 2px #0f0f0f;
  }

  .my-custom-scrollbar {
    border: 5px solid #0f0f0f;
    position: relative;
    height: 470px;
    overflow-y: scroll;
    }
  .table-wrapper-scroll-y {
    display: block;
  }
